<h1 class="title text-center">Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col" id="list-available-burgers">
            <h2 class="burger-title text-center">Burgers Available</h2>
            <ul>
             {{#each burger}}
             {{#unless this.devoured}}
  	         <li>   
                <p><span class="label">Burger Name:</span> {{this.burger_name}}</p>

                <button data-id="{{this.id}}" class="burger-button">Devour Me!</button>
  	         </li>
             {{/unless}}  
             {{/each}}
            </ul>
        </div>
        <div class="col" id="list-devoured-burgers">
            <h2 class="burger-title text-center">Burgers Already Devoured</h2>
            <ul>
             {{#each burger}}
             {{#if this.devoured}}
  	         <li>   
                <p><span class="label">Burger Name:</span> {{this.burger_name}}</p>
  	         </li>
             {{/if}}  
             {{/each}}
            </ul>
        </div>
    </div>
</div>

<form class="create-form">
  <div class="form-group">
    <label for="auth">Name:</label>
    <input type="text" class="burger-button" name="burger">
  </div>

  <button type="submit">Add a New Burger!</button>
</form>
