<h1>Burger Menu:</h1>
<div class="container">
    <div class="row"> 
      <div class="col s6">
        <p>Burgers NOT Devoured</p>
        {{#each burger}}
          {{#unless this.devoured}}
            <div>
              <form action="/b/{{this.id}}?_method=PUT" method="PUT">
                <button type="submit" class='Available-burger'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>
      <div class="col s6">
        <p>Burgers Devoured</p>
        {{#each burger}}
          {{#if this.devoured}}
            <div class='eaten-burger'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
</div>
<h2>Enter A Burger!</h2>
<div class="row">
  <div class="col s12">
    <form action="/b" method="POST">
      <input type="text" name="burger_name" placeholder="Burger Name Here">
      <button type="submit" class="addButton">Add The Burger</button>
    </form>
  </div>
</div>