<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Burgers not yet DEVOURED</h5>
    <div class="card-text"> 
                    <ul class="list-group">
                      <li class="list-group-item active">
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burger/burger-block devour=true}}
                        {{/unless}}
                        {{/each}}
                      </li>
                    </ul>
    </div>
  </div>
</div>

<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Already Eaten Burgers</h5>
    <div class="card-text"> 
                    <ul class="list-group">
                        <li class="list-group-item active">
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burger/burger-block devour=false}}
                        {{/if}}
                        {{/each}}
                        </li>
                    </ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row container mb-5">
        <div class="col-8">
            <div class="card">
                <h2 class="card-title" id = "new-b">Wanna Add A Burger??</h2>
                <hr>
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="burger">Burger Name:</label>
                            <input type="text" class="form-control" id="burger" name="burger_name">
                        </div>
                        <button class="create-form btn btn-primary" type="submit">Add Burger</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>