html {
    background-color: lightblue;
}

body {
   width: 75%;
   text-align: center;
   display: flex;
   min-height: 100vh;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 50px;
    margin: 50px;
}

.Available-burgers {
    font-size: 20px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #76f88a;
}

.eaten-burger {
    font-size: 20px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #fa9583;
}

h2 {
    font-size: 40px;
    margin: 50px;
}

.addButton {
    font-size: 20px;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    background-color: lightblue;
}
